{% extends 'list.html' %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h5>
            <i class="fas fa-search"></i>
            <strong>{{ title }}</strong>
        </h5>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="card-outline card-olive">
                    <div class="card-header">
                        <h3 class="card-title text-olive"><i class="fas fa-bed"></i> <b>Detalle de Habitación</b></h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Numero:</label>
                                    <p>{{reserva.habitacion.numero_habitacion}}</p>
                                </div>
                                <div class="form-group">
                                    <label>Servicio:</label>
                                    <p>{{reserva.habitacion.servicio_habitacion}}</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Categoria:</label>
                                    <p>{{reserva.habitacion.tipo_habitacion}}</p>
                                </div>
                                <div class="form-group">
                                    <label>Piso:</label>
                                    <p> {{reserva.habitacion.piso}}</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Tarifa:</label>
                                    <p>{{reserva.habitacion.tipo_habitacion.tarifa}}</p>
                                </div>
                                <div class="form-group">
                                    <label>Estado:</label>
                                    <br>
                                    <span class="badge badge-danger"> {{ reserva.habitacion.estado_habitacion | upper }}</span>                             
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="card-outline card-purple">
                    <div class="card-header">
                        <h3 class="card-title text-purple"><i class="fas fa-user"></i> <b>Detalle de Huesped</b></h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Nombre:</label>
                                    <p>{{reserva.user.get_full_name}}</p>
                                </div>
                                <div class="form-group">
                                    <label>Nro. Documento:</label>
                                    <p>{{reserva.user.numero_documento}}</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Correo:</label>
                                    <p>{{reserva.user.email}}</p>
                                </div>
                                <div class="form-group">
                                    <label>Telefono:</label>
                                    <p> {{reserva.user.telefono}}</p>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <label>Fecha de entrada:</label>
                                    <p>{{reserva.check_in}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        {% block buttons_list %}
        <a href="{% url 'erp:recepcion_update' reserva.id %}" class="btn btn-primary btn-flat btn-test">
            <i class="fas fa-edit"></i> Modificar Registro
        </a>
        <a href="{{ list_url }}" class="btn btn-danger btn-flat">
            <i class="fas fa-times"></i> Regresar
        </a>
        {% endblock %}
    </div>
</div>
{% endblock %}