{% extends 'form.html' %}
{% load static %}
<!-- {% load widget_tweaks %} -->
{% block head %}
<!-- para el autocomoplete -->
<link href="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet" />
<script src="{% static 'lib/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>

<!-- buscador de datos en select(se puede usar autocomplete, y otras cosas) -->
<link href="{% static 'lib/select2-4.0.13/css/select2.min.css' %}" rel="stylesheet" />
<link href="{% static 'lib/select2-4.0.13/css/select2-bootstrap4.min.css' %}" rel="stylesheet" />
<script src="{% static 'lib/select2-4.0.13/js/select2.min.js' %}"></script>
<script src="{% static 'lib/select2-4.0.13/js/i18n/es.js' %}"></script>

<!-- para usar calendario en fechas -->
<script src="{% static 'lib/moment-2.25.3/moment-with-locales.js' %}"></script>
<script src="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js' %}"></script>
<link href="{% static 'lib/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css' %}" rel="stylesheet" />

<!-- para aumentar o decrementar numero(+,-) -->
<script src="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.js' %}"></script>
<link href="{% static 'lib/bootstrap-touchspin-4.3.0/jquery.bootstrap-touchspin.css' %}" rel="stylesheet" />

<!-- para configuraciones de los plugins usados -->
<script src="{% static 'pago/reserva/js/form.js' %}"></script>
{% endblock %}

{% block content %}
<form action="." method="post" enctype="multipart/form-data">
    <div class="card">
        <div class="card-header">
            <h5>
                {% if action == "add" %}
                <i class="fas fa-plus"></i>
                {% else %}
                <i class="fas fa-edit"></i>
                {% endif %}
                <strong>{{ title }}</strong>
            </h5>
        </div>
        <div class="card-body">
            <input type="hidden" name="action" value="{{ action }}">
            {% if form.errors %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h5><i class="icon fas fa-ban"></i> Ha ocurrido un error al guardar el registro!</h5>
                <ul>
                    {% for field in form %}
                    {% for error in field.errors %}
                    <li>{{ error }}</li>
                    {% endfor %}
                    {% endfor%}
                </ul>
            </div>
            {% endif %}
            <!-- Detalle Reserva -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card-outline card-olive">
                                <div class="card-header">
                                    <h3 class="card-title text-olive"><i class="fas fa-bed"></i> <b>Detalle de Habitacion</b></h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Numero:</label>
                                                <p>{{reserva.habitacion.numero_habitacion}}</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Servicio:</label>
                                                <p>{{reserva.habitacion.servicio_habitacion}}</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Categoria:</label>
                                                <p>{{reserva.habitacion.tipo_habitacion}}</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Piso:</label>
                                                <p>{{reserva.habitacion.piso}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card-outline card-purple">
                                <div class="card-header">
                                    <h3 class="card-title text-purple"><i class="fas fa-user"></i> <b>Detalle de Huesped</b></h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Cliente:</label>
                                                <p>{{reserva.user}}</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Nro. Documento:</label>
                                                <p> {{reserva.user.numero_documento}}</p>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <label>Correo:</label>
                                                <p>{{reserva.user.email}}</p>
                                            </div>
                                            <div class="form-group">
                                                <label>Fecha de Entrada:</label>
                                                <p>{{reserva.check_in}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card-outline card-fuchsia">
                        <div class="card-header">
                            <h3 class="card-title text-fuchsia"><i class="fas fa-dollar-sign"></i> <b>Costo de Hospedaje</b></h3>
                        </div>
                        <div class="card-body">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label>Total:</label>
                                    {{ form.total }}
                                </div>
                                <div class="form-group">
                                    <label>Avance:</label>
                                    {{ form.avance }}
                                </div>
                                <div class="form-group">
                                    <label>Saldo por Pagar:</label>
                                    {{ form.resto }}
                                </div>
                                <!-- <div class="form-group">
                                    <label>Pagado:</label>
                                    {{ form.paid_out }}
                                </div> -->
                                <div class="form-group">
                                    <label>Observación:</label>
                                    {{ form.obs }}
                                </div>
                                    {{ form.reserva }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-primary btn-flat btn-test">
                <i class="fas fa-save"></i> Guardar Pago
            </button>
            <a href="{{ list_url }}" class="btn btn-danger btn-flat">
                <i class="fas fa-times"></i> Cancelar
            </a>
        </div>
    </div>
</form>
<script type="application/javascript">
        {% if form.errors %}
            var errors = '';
            {% for field in form %}
                {% for error in field.errors %}
                    errors += '{{ error }}\n';
                {% endfor %}
            {% endfor %}
            
            {% for error in form.non_field_errors %}
                errors += '{{ error }}\n';
            {% endfor %}
            Swal.fire({
                title: 'Error!',
                text: errors,
                icon: 'error'
            });
        {% endif %}

    $("form").on("submit", function (e) {
        e.preventDefault();
        // let parameters = $(this).serializeArray();
        let parameters = new FormData(this);
        //let parameters = new FormData($("form")[0]);
        console.log(parameters)
        submit_with_ajax(window.location.pathname, "Notificación",
            "¿Esta seguro de realizar la siguiente acción?", parameters,
            function () {
                location.href = "{{ list_url }}";
            });

    })
</script>
{% endblock %}