{% extends 'layout.html' %}
{% load static %}
{% block head %}

{% block head_list %}

{% endblock %}

{% endblock %}

{% block content %}
<div class="card card-default">
    <div class="card-header p-0 pt-1 navbar">
        <ul class="navbar-nav">
            <li class="px-3">
                <h5>
                    <i class="fas fa-door-open"></i>
                    <strong>{{ title }}</strong>
                </h5>
            </li>
        </ul>
        <ul class="nav nav-tabs ml-auto" id="custom-tabs-two-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active text-gray-dark" data-toggle="pill" href="#custom-tabs-todas"><i
                        class="fas fa-certificate"></i> <b>Todas</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-danger" data-toggle="pill" href="#custom-tabs-ocupado"><i
                        class="fas fa-arrow-circle-right"></i> <b>Ocupada</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-success" data-toggle="pill" href="#custom-tabs-disponible"><i
                        class="fas fa-arrow-circle-left"></i> <b>Disponible</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-warning" data-toggle="pill" href="#custom-tabs-mantenimiento"><i
                        class="fas fa-spinner"></i> <b>Mantenimiento</b>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-primary" data-toggle="pill" href="#custom-tabs-limpieza"><i
                        class="fas fa-bhabitacion"></i> <b>Limpieza</b></a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content" id="custom-tabs-two-tabContent">
            <div class="tab-pane fade show active" id="custom-tabs-todas">
                <div class="row">
                    {% for habitacion in habitaciones %}
                    <div class="col-lg-2">
                        <!-- small card -->
                        {% if habitacion.estado_habitacion == "disponible" %}
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3><sup style="font-size: 20px">Habitación</sup> {{ habitacion.numero_habitacion }}
                                </h3>

                                <p>Categoria: {{ habitacion.tipo_habitacion }}</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-bed"></i>
                            </div>
                            <a href="{% url 'erp:recepcion_create' habitacion.id %}" class="small-box-footer">
                                {{ habitacion.estado_habitacion | upper }} <i class="fas fa-caret-square-right"></i>
                            </a>
                        </div>
                        {% elif habitacion.estado_habitacion == "ocupada" %}
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3><sup style="font-size: 20px">Habitación</sup>
                                    {{ habitacion.numero_habitacion }}</h3>

                                <p>Categoria: {{ habitacion.tipo_habitacion }}</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-bed"></i>
                            </div>
                            <a href="{% url 'erp:info_reserva' habitacion.id %}" class="small-box-footer">
                                {{ habitacion.estado_habitacion | upper }} <i class="fas fa-caret-square-right"></i>
                            </a>
                        </div>
                        {% elif habitacion.estado_habitacion == "limpieza" %}
                        <div class="small-box bg-primary">
                            <div class="inner">
                                <h3><sup style="font-size: 20px">Habitación</sup>
                                    {{ habitacion.numero_habitacion }}</h3>

                                <p>Categoria: {{ habitacion.tipo_habitacion }}</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-bed"></i>
                            </div>
                            <a href="#" class="small-box-footer btnFree" rel="{{ habitacion.id }}">
                                {{ habitacion.estado_habitacion | upper }} <i class="fas fa-caret-square-right"></i>
                            </a>
                        </div>
                        {% else %}
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3><sup style="font-size: 20px">Habitación</sup>
                                    {{ habitacion.numero_habitacion }}</h3>

                                <p>Categoria: {{ habitacion.tipo_habitacion }}</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-bed"></i>
                            </div>
                            <a href="#" class="small-box-footer">
                                {{ habitacion.estado_habitacion | upper }} <i class="fas fa-caret-square-right"></i>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="custom-tabs-ocupado">
                <div class="row">
                    {% for habitacion in habitaciones %}
                    {% if habitacion.estado_habitacion == "ocupada" %}
                    <div class="col-lg-2">
                        <!-- small card -->

                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3><sup style="font-size: 20px">Habitación</sup>
                                    {{ habitacion.numero_habitacion }}</h3>


                                <p>Categoria: {{ habitacion.tipo_habitacion }}</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-bed"></i>
                            </div>
                            <a href="{% url 'erp:info_reserva' habitacion.id %}" class="small-box-footer">
                                {{ habitacion.estado_habitacion | upper }} <i class="fas fa-caret-square-right"></i>
                            </a>
                        </div>

                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="custom-tabs-disponible">
                <div class="row">
                    {% for habitacion in habitaciones %}
                    {% if habitacion.estado_habitacion == "disponible" %}
                    <div class="col-lg-2">
                        <!-- small card -->

                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3><sup style="font-size: 20px">Habitación</sup>
                                    {{ habitacion.numero_habitacion }}</h3>

                                <p>Categoria: {{ habitacion.tipo_habitacion }}</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-bed"></i>
                            </div>
                            <a href="{% url 'erp:recepcion_create' habitacion.id %}" class="small-box-footer">
                                {{ habitacion.estado_habitacion | upper }} <i class="fas fa-caret-square-right"></i>
                            </a>
                        </div>

                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="custom-tabs-mantenimiento">
                <div class="row">
                    {% for habitacion in habitaciones %}
                    {% if habitacion.estado_habitacion == "mantenimiento" %}
                    <div class="col-lg-2">
                        <!-- small card -->

                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3><sup style="font-size: 20px">Habitación</sup>
                                    {{ habitacion.numero_habitacion }}</h3>

                                <p>Categoria: {{ habitacion.tipo_habitacion }}</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-bed"></i>
                            </div>
                            <a href="#" class="small-box-footer">
                                {{ habitacion.estado_habitacion | upper }} <i class="fas fa-caret-square-right"></i>
                            </a>
                        </div>

                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="tab-pane fade" id="custom-tabs-limpieza">
                <div class="row">
                    {% for habitacion in habitaciones %}
                    {% if habitacion.estado_habitacion == "limpieza" %}
                    <div class="col-lg-2">
                        <!-- small card -->

                        <div class="small-box bg-primary">
                            <div class="inner">
                                <h3><sup style="font-size: 20px">Habitación</sup>
                                    {{ habitacion.numero_habitacion }}</h3>

                                <p>Categoria: {{ habitacion.tipo_habitacion }}</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-bed"></i>
                            </div>
                            <a href="#" class="small-box-footer btnFree" rel="{{ habitacion.id }}">
                                {{ habitacion.estado_habitacion | upper }} <i class="fas fa-caret-square-right"></i>
                            </a>
                        </div>

                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <script>
        const btnFree = Array.from(document.querySelectorAll('.btnFree'));
        console.log(btnFree)
        if (btnFree) {
            btnFree.forEach(res => { // ideal para recorrer array
                res.addEventListener('click', e => {
                    // se puede formar eventos, por ejemplo el nombre del elemento y el evento con formato de llamada de funcion, ej: button.click(), form.submit()
                    // e.preventDefault() // sirve para que no se ejecute el metodo por defecto
                    console.log(e.target.rel)
                    let value = e.target.getAttribute('rel') //tarjet indica el elemento donde hemos hecho el evento, hace referencia al punto donde se origina el evento
                    // let value = e.target.rel
                    console.log(value)
                    alert_action('Notificación', '¿Estas seguro dejar disponible esta habitación?', function () {
                        //metodo 1
                        // $.ajax({
                        //     url: window.location.pathname,
                        //     type: "POST",
                        //     data: {
                        //         'action': "habitacion_libre",
                        //         'id': value
                        //     },
                        //     dataType: "json",
                        //     // processData: false, //no las usa pq no envia archivos
                        //     // contentType: false,
                        // })

                        //metodo 2
                        // fetch(window.location.pathname, {
                        //     method: 'POST',
                        //     body: JSON.stringify({
                        //         'action': "habitacion_libre",
                        //         'id': value
                        //     })
                        // })

                        //metodo 3
                        axios({
                            url: window.location.pathname,
                            method: "POST",
                            data: {
                                'action': "habitacion_libre",
                                'id': value
                            },
                            headers: {
                                'X-CSRFToken': csrftoken
                            }
                        })
                        // location.href = "{{ list_url }}";

                        location.reload();
                    }, function () { })

                })
            });

        }


    </script>
</div>
{% endblock %}