{% extends 'base/base.html' %}
{% load static %}

{% block titulo %} - Principal {% endblock %}

{% block contenido %}

<style>
  .link{
    color: darkmagenta;
  }

  #myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
</style>
<!--Barra divisora-->
<div class="b-example-divider"></div>
<br/>
<div class="container-fluid">
  <div class="row">
<div class="col-12 col-md-4 col-lg-3 g-4 mx-2">
  <h5>Filtro de Habitaciones</h5>
  <form method="GET" id="FiltroHabitacion">
    {% csrf_token %}
    <div class="col-12">
    {{filtro.form}}
    <label for="CheckIn">Fecha de Check-In:</label>
    <input type="date" class="form-control" id="CheckIn" name="checkin">
    <label for="CheckIn">Fecha de Check-Out:</label>
    <input type="date" class="form-control" id="CheckOut" name="checkout">
    </div>    
    <button type="submit" class="btn-color pt-2 my-3 text-center"><i class="fas fa-search"> </i> Buscar</button> 
  </form>
  <a href="/"><button class="btn-color pt-2 my-3 text-center"><i class="fas fa-search-minus"> </i> Remover filtro</button></a>
</div>
<br>
<!--style="border-style: solid; border-width: 1px;"-->

<!--Habitaciones-->
<div class="row col-12 col-md-8 g-4 mx-2">
  {% for d in entity %}
    <div id="carta{{forloop.counter}}" class="col-12 col-md-6">
      <div class="card">
        <img class="card-img-top" src="{{ d.tipo_habitacion.imagen.url }}" alt="Sin Imagen" width="200" height="300">
        <div class="card-body">
          <h5 class="card-title">Habitacion N° {{d.numero_habitacion}} - {{d.tipo_habitacion}}</h5>
          <div class="card-text">{{d.desc}}</div>
          <div class="card-text">Tarifa diara: ${{d.tipo_habitacion.tarifa}} + Impuestos</div>
          <div class="card-text">Servicios: {{d.servicio_habitacion}}</div>
          <div class="card-text">Para {{d.capacidad}} personas</div>
          <div class="card-text">Piso: {{d.piso}}</div>
          <div class="row justify-content-center">
            <div class="col-6">
              <button class="btn-color pt-2 my-3 text-center" type="submit">Reservar <i class="fas fa-sign-in-alt"></i></button>
            </div>
          </div>
        </div>
      </div><!-- Fin card -->
    </div>
    <!---->
    {% for f in reservas %}
      {% if d.id == f.habitacion.id%}
      <script>
        $("#carta{{forloop.parentloop.counter}}").remove();
      </script>
      {% endif %}
    {% endfor %}
    
  {% endfor %}
</div>
</div>
<!-- ^ FIn de Container-fluid-->
<!-- Paginación -->
<br/>
<div class="row">
  {% include 'departamento/paginator.html' %}
</div>
</div>


<br>

<!-- Imagen Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>
  
<script>
  //Obtener fecha dia de hoy
  var today = new Date();
  var dd = String(today.getDate()).padStart(2, '0');
  var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
  var yyyy = today.getFullYear();
  //Establecer valores minimos para checkin y checkout
  document.getElementById("CheckIn").min = yyyy+"-"+mm+"-"+dd;
  document.getElementById("CheckOut").min = yyyy+"-"+mm+"-"+dd;
  //Dar el valor por el que se buscó al campo de checkin y al de checkout
  document.getElementById("CheckIn").value = '{{request.GET.checkin}}';
  document.getElementById("CheckOut").value = '{{request.GET.checkout}}';
  
  // Script Modal
  var modal = document.getElementById('myModal');
  
  // Get the image and insert it inside the modal - use its "alt" text as a caption
  var img = document.getElementById('myImg')
  var modalImg = document.getElementById("img01");
  var captionText = document.getElementById("caption");
  img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
    captionText.innerHTML = this.alt;
  }
  
  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];
  
  // When the user clicks on <span> (x), close the modal
  span.onclick = function() { 
    modal.style.display = "none";
  }
</script>

{% if messages %}
  {% for m in messages %}
    <script>
      Swal.fire({
        icon: 'success',
        title: '!!!Felicidades!!!',
        text: '{{m}}',
      })
    </script>
  {% endfor %}
{% endif %}


<!--   Codigo para cargar multiples imagenes  - Esta aca para pasar a otra plantilla
      {% for ima in imagen %}
        {% if d.tipo_habitacion == ima.tipo_habitacion %}
        <img class="card-img-top" src="{{ ima.imagen.url }}" alt="Sin Imagen" width="200" height="300">
        {% endif %}
      {% endfor%}

        {% if d.imagenes %}
        <h5>Más imagenes:</h5>

        <div class="row justify-content-center">
          <div class="col-lg-12">
            <img id="myImg" src="{{ d.imagenes.first.imagen.url }}" alt='{{d.tipo_hospedaje}}: {{d.nombre}} <br> Dirección: {{d.direccion}}' width="100" height="50"> 
            <img id="myImg" src="{{ d.imagenes.last.imagen.url }}" alt="{{d.nombre}} {{d.direccion}}" width="100" height="50">
          </div>
        </div>

        {% endif %}
      -->
{% endblock %}