#container {
  background-color: white;
  border-radius: 20px;
  width: 40%;
  margin: 60px;
  padding: 60px;
}

#registro {
  background-color: white;
  border-radius: 20px;
  width: 40%;
  margin: 40px;
  padding: 40px;
}

#fondo {
  background-image: url("/static/img/fondo-login.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.btn-color {
  color: rgb(255, 255, 255);
  background-color: rgb(104, 41, 187);
  border-radius: 12px;
  padding: 10px 50px;
}
.btn-color:hover {
  background-color: rgb(111, 0, 255);
}
